# MM HH DD MON DOW command ...
14,44 * * * * cd ~/Dropbox/CarrierDataCollection/getCarrierData; ( export SSL_CERT_FILE=$(python3 -m certifi); python3 ./carrierDataCron.py -R ) >> ../carrier_cron.log 2>&1
